* {
	padding: 0;
	margin: 0;
}

body { 
	/*height: 1024px;*/
	/*setting a min width for screen to stop my <div class="quote"> from bleeding into other sections*/
	min-width: 867px !important;
	/*setting width as auto for firefox*/
   	width: auto !important;
   /*manually setting with to 960px because my research claimed Internet explorer will ignore !important*/
	width: 867px; 
}


html { 
  background: url("leaves.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
	 /*browsers that don't support gradients */
  color: rgba(56, 0, 97, 1.0); 
  height: 200px;
  width: 60%;
  padding-top: 40px;
  position: absolute;
  right:0;
  margin-bottom: 20px !important;
  line-height: 20px;
  font-size: 80px;
  text-shadow: 2px 2px #a9a9a9.;
}


.grad {
  /*browsers that don't support gradients */
  background: rgba(73,45,127,1.00); 
  /*Safari*/
  background: -webkit-linear-gradient(left, rgba(73,45,127,1.00) , rgba(221,39,127,.4)); 
  /*Opera*/
  background: -o-linear-gradient(right, rgba(73,45,127,1.00), rgba(221,39,127,.4)); 
  /*Firefox*/
  background: -moz-linear-gradient(right, rgba(73,45,127,1.00), rgba(221,39,127,.4)); 
  /*Standard*/
  background: linear-gradient(to right, rgba(73,45,127,1.00) , rgba(221,39,127,.4)); 
}

#shell {
	height: 575px;
    width: 500px;
    border-radius: 10px;
    position: relative;
    top: 200px;
    left: 40%;
    border-collapse: collapse;
    margin-top: 10px;

}

#screen {
    background-color: #222;
    width: 94%;
    position: relative;
    left: 15px;
    top: 20px;
    right: 15px;
    height: 100px;
    }
 
#screen input  {
    position: relative;
    left: 2px;
    top: 2px;
    height: 92px;
    color: black;
    font-family: 'Exo 2', sans-serif;
    background-color: white;
    font-size: 45px;
    text-align: right;
    width: 463px;
    }

.keys {
        position: relative;
        /*top: 5px;*/
        padding: 0;
        line-height: 10px;

}
 
.button {
    width: 100px;
    height: 70px;
    border: none;
    border-radius: 8px;
    margin-left: 17px;
    cursor: pointer;
    border-top: 2px solid transparent;
    margin-bottom: 2px

}
 
.button.gray {
    color: white;
    background-color: #000080;
    border-bottom: black 2px solid;
    border-top: 2px #6f6f6f solid;
    width: 11em;
    font-family: 'Rozha One', serif;
    font-size: 20px;
}

#bold {
	font-weight: bolder;
	font-size: 20px;
}
 
.button.pink {
    color: black;
    background-color: #B757AE;
    border-bottom: black 2px solid;
    font-family: 'Rozha One', serif;
    font-size: 20px;
}
 
.button.black {
    /*color: white;*/
    background-color: #6484C0;
    border-bottom: black 2px solid;
    border-top: 2px 303030 solid;
    font-family: 'Rozha One', serif;
    font-size: 20px;
 }
 
      
 
.gray:active {
    border-top: black 2px solid;
    border-bottom: 2px #6f6f6f solid;
}
 
.pink:active {
    border-top: black 2px solid;
    border-bottom: #ff4561 2px solid;
}
 
.black:active {
    border-top: black 2px solid;
    border-bottom: #303030 2px solid;
 }



